@import "vars.scss";

#CA_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 95vh;
  > * {
    position: absolute;
    color: rgba(0, 0, 0, 0.7);
  }
  .camera_on {
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 100vw;
    height: 100vw;
    transform: translate(-50%, -50%);
  }
  .title {
    top: 25vh;
    left: 50%;
    width: 100vw;
    font-family: "Pretendard-Black";
    text-align: center;
    font-size: 3rem;
    transform: translateX(-50%);
  }
  .about {
    bottom: 25vh;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
    font-size: 2rem;
    font-family: "Pretendard-Regular";
  }
  img {
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 100vh;
    height: 100vh;
    transform: translate(-50%, -50%);
  }
  .scan_rct_box {
    //  @include tempBorder(red);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    top: 50%;
    left: 50%;
    z-index: 8;
    width: 82vw;
    transform: translate(-50%, -50%);
    > div {
      width: 20vw;
      height: 20vw;
      animation: scanAni 1s ease-in-out infinite;
      border-style: solid;
      margin: 10vw;
    }
    .ul_border {
      border-width: 8px 0 0 8px;
      border-top-left-radius: 16px;
    }
    .ur_border {
      border-width: 8px 8px 0 0;
      border-top-right-radius: 16px;
    }
    .dr_border {
      border-width: 0 0 8px 8px;
      border-bottom-left-radius: 16px;
    }
    .dl_border {
      border-bottom-right-radius: 16px;
      border-width: 0 8px 8px 0;
    }
  }
  .modal_container {
    z-index: 10;
    width: 100vw;
    height: 95vh;
    //  backdrop-filter: blur(10px);
    //  background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    place-content: center;
    * {
      // @include tempBorder(red);
    }
  }
}

#IA_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 95vh;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 100vh;
    height: 100vh;
    transform: translate(-50%, -50%);
  }
  .modal_box {
    // border: 3px solid rgba(100, 100, 100, 0.5);
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.2);
    width: 90vw;
    height: 30vh;
    //  background-color: rgb(240, 240, 240);
    backdrop-filter: blur(5px);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    .top_box {
      box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.12);
      width: 100%;
      height: 18%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-family: "Pretendard-Bold";
      color: rgb(218, 218, 218);
      background-color: rgba(44, 44, 44, 0.822);
      font-size: 2rem;
      align-items: center;
    }
    .mid_box {
      width: 100%;
      height: 60%;
      display: grid;
      place-content: center;
      > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: auto;
        font-size: 3rem;
        font-family: "Pretendard-Medium";
      }
      input {
        margin-right: 10px;
        width: 60vw;
        font-size: 3rem;
        height: 10vw;
        background-color: white;
        text-align: end;
        font-family: "Montserrat-Medium";
        border: none;
        border-radius: 12px;
        padding: 0 5%;
      }
    }
    .bot_box {
      // @include tempBorder;
      height: 22%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: start;
      > div {
        width: 40%;
        height: 90%;
        //   @include tempBorder;
        display: grid;
        place-content: center;
        font-size: 2rem;
        font-family: "Pretendard-Bold";
        border: 1px solid $bright-blue;
        background-color: rgba(255, 255, 255, 0.685);
      }
      .right {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        color: $bright-blue;
      }
      .left {
        border-top-left-radius: 16px;
        //   background-color: rgba(78, 25, 25, 0.4);
        border-bottom-left-radius: 16px;
        color: rgba(100, 100, 100, 0.7);
      }
    }
  }

  .done_modal_container {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    color: white;
    font-size: 4.5rem;
    font-family: "Pretendard-ExtraBold";
    place-content: center;
    width: 100vw;
    height: 95vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    animation: blurDoneAni 1s ease-out;

    z-index: 10;
  }
}
