@use "home.scss";
@use "font.scss";

*,
*::before,
*::after {
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 62.5%; /*1rem을 16px가 아닌 10px로 고정 */
}

img {
  width: 100%;
}
