@import "vars.scss";

#Home_container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  position: realtive;
  width: 100vw;
  height: 100vh;
  #HTB_container {
    // @include tempBorder;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
    width: 100%;
    height: 6%;
    .left_box {
      //   @include tempBorder;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      width: 60%;
      height: 100%;
      .icon {
        // @include tempBorder;
        width: 20%;
        height: 80%;
      }
      .text {
        // @include tempBorder;
        width: 75%;
        text-align: start;
        font-size: 1.4rem;
        font-family: "Pretendard-Bold";
      }
    }
    .right_box {
      //   @include tempBorder;
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
      width: 30%;
      height: 100%;
      .pay_icon {
        // @include tempBorder;
        width: 30%;
        height: 60%;
        // object-fit: cover;
      }
      .bell_icon {
        // @include tempBorder;
        width: 40%;
        height: 60%;
      }
    }
  }

  #HMB_container {
    @include tempBorder(green);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: realtive;
    width: 100%;
    height: 35%;
    .background_image {
      position: absolute;
      top: 0;
      z-index: -1;
    }
    .horiz_box {
      @include tempBorder;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 75%;
      overflow-x: scroll;
      .content_container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        width: fit-content;
        height: 100%;
        padding-left: 3vw;
        // flex-shrink: 0; global에 추가
        .content_box {
          border-radius: 16px;
          //   @include tempBorder(Red);
          margin: 0 2vw;
          width: 60vw;
          height: 80%;
          box-shadow: -5px 7px 5px 3px rgba(0, 0, 0, 0.15);
        }
        .green_box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          background-color: rgb(203, 244, 226);
          padding: 2%;
          .icon {
            padding: 2%;
            // @include tempBorder;
            width: 15%;
            height: 20%;
            overflow: visible;
          }
          .title {
            color: rgb(116, 116, 116);
            width: 100%;
            height: 55%;
            // @include tempBorder;
            padding-top: 2%;
            text-align: start;
            font-size: 1.7rem;
            font-family: "Pretendard-Bold";
          }
          .bot_button {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: white;
            border-radius: 12px;
            width: 100%;
            height: 25%;
            > * {
              display: grid;
              place-content: center;
              font-family: "Pretendard-Bold";
              font-size: 1.7rem;
            }
            .left {
              //   @include tempBorder(blue);
              width: 50%;
              height: 100%;
            }
            .gap_border {
              height: 40%;
              border-left: 1px solid rgba(0, 0, 0, 0.326);
            }
            .right {
              //   @include tempBorder(blue);
              color: rgb(13, 126, 77);
              width: 50%;
              height: 100%;
            }
          }
        }
        .blue_box {
          background-color: rgb(219, 233, 255);
        }
      }
    }
    .bottom_text_box {
      @include tempBorder;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      width: 100%;
      height: 25%;
      .text {
        @include tempBorder;
        width: 100%;
        font-size: 2rem;
        text-align: start;
      }
    }
  }

  #HBB_container {
    @include tempBorder(blue);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-radius: 24px 24px 0 0;
    padding: 0 5%;
    width: 100%;
    height: 59%;
    .top_box {
      @include tempBorder;
      width: 100%;
      height: 15%;
    }
    .mid_box {
      @include tempBorder;
      width: 100%;
      height: 15%;
    }
    .bot_box {
      @include tempBorder(red);
      background-color: white;
      padding: 5%;
      width: 100%;
      height: fit-content;
      .top_title_box {
        @include tempBorder;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: fit-content;
        .left_title {
          font-family: "Pretendard-Bold";
          font-size: 2rem;
        }
        .right_button {
        }
      }
      .content_box {
        @include tempBorder;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        .temp_content {
          @include tempBorder(red);
          width: 23%;
          height: 10vh;
          margin-top: 5%;
        }
      }
    }
  }
}
