@import "vars.scss";

#Map_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  padding: 0 0;
  height: 83vh;
  overflow: visible;
  > .text_box {
    padding: 0 4vw;
  }
  .map_box {
    flex-grow: 1;
    position: relative;
    background-color: antiquewhite;
    width: 100vw;
    height: 100vh;
    .map_bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      object-fit: contain;
    }
    .my_loc_box {
      position: absolute;
      top: 24vh;
      left: 50%;
      z-index: 3;
      transform: translate(-50%, 0) scale(0.9);
      .my_loc {
        animation: myLocAni 0.8s ease infinite;
      }
    }
    .icon {
      position: absolute;
      z-index: 5;
      color: $bright-blue;
      font-size: 2.5rem;
      // animation: leafAni 1.5s ease-in-out infinite;
    }
    .loc_a {
      top: 30vw;
      right: 30%;
    }
    .loc_b {
      top: 40vw;
      right: 22%;
    }
    .loc_c {
      top: 110vw;
      left: 25%;
    }
    .loc_d {
      top: 108vw;
      left: 58%;
    }
    .loc_E {
      top: 65vw;
      right: 30%;
      transition: transform 1s ease;
    }
    .bigger {
      transform: scale(2);
      transition: transform 1s ease;
    }
  }

  .store_box {
    // @include tempBorder(red);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    border-radius: 12px;
    width: 96vw;
    margin-left: 2vw;
    margin-bottom: 2vw;
    transform: translate(0, 0);
    box-shadow: 0 2px 5px 2px rgba(100, 100, 100, 0.3);
    opacity: 1;
    transition: transform 0.5s ease, opacity 0.5s ease;
    .store_container {
      background-color: none;
      width: 100vw;
      height: 15vh;
      box-shadow: none;
    }
  }
  .pop_down {
    opacity: 0;
    transform: translate(0, 50%);
  }
}
