@import "vars.scss";

.no_bg_bar {
  background: $bg-color !important;
}

#MP_container {
  // @include tempBorder(red);
  // background-color: rgb(214, 214, 214);
  background: $bg-color;
  padding: 0;
  // height: 83vh;
  //   transform: translateY(-5px);
  // * {
  //   @include tempBorder;
  // }
  overflow: scroll;
  .text_box {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    // background-color: white;
    padding: 0 4vw;
    height: 4vh;
    margin-bottom: 4vw;
  }
  .scrollable {
    width: 100%;
    // height: 50vh;
    // overflow-y: scroll;
    > div {
      display: flex;
      flex-direction: column;
      justify-content: start;
      height: 100%;
    }
    .content_box {
      background-color: white;
      border-radius: 8px;
      margin: 0 1.5vw;
      padding: 2vw;
      width: 97%;
      margin-bottom: 3vw;
    }
    .money_box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: white;
      border-radius: 8px;
      padding: 2% 4vw;
      height: 15vh;
      > div {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .title {
        height: 30%;
        font-family: "Pretendard-Bold";
        font-size: 2rem;
      }
      .money {
        justify-content: end;
        height: 30%;
        font-family: "Pretendard-Bold";
        font-size: 2rem;
      }
      .bot_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40%;
        overflow: visible;
        > div {
          display: grid;
          width: 50%;
          height: 80%;
          place-content: center;
          font-family: "Pretendard-Bold";
          font-size: 1.8rem;
          box-shadow: 0 0 1px 1px rgba(4, 221, 174, 0.4);
        }
        .free {
          color: rgb(100, 100, 100);
          border-radius: 12px 0 0 12px;
        }
        .charge {
          color: $bright-blue;
          border-radius: 0 12px 12px 0;
        }
      }
    }
    .esg_point_box {
      height: fit-content;
      * {
        border: none;
      }
      .title {
        padding: 2vw;
        height: 10vw;
        font-family: "Pretendard-Bold";
        font-size: 2rem;
      }
      .leaf_icon {
        color: $bright-blue;
        margin-left: 10px;
      }
      .without_list {
        height: 80px;
      }
      .list_box {
        position: relative;
        padding: 1vw;
        overflow: visible;

        .without_point {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: rgb(150, 150, 150);
          // background-color: rgba(80, 80, 80, 0.6);
          width: 100%;
          height: 60px;
          font-size: 2rem;
          font-family: "Pretendard-Medium";
          .call {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: $bright-blue;
            // color: white;
            padding: 3px 0;
            width: 30%;
            margin-top: 10px;
            font-size: 1.5rem;
            font-family: "Pretendard-Bold";
          }
        }
        .whole_store_box {
          > Link {
            width: 30%;
            height: 40vw;
          }
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          height: 40vw;
          .per_store {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: 1.7vw 0;
            font-family: "Pretendard-Medium";
            font-size: 1.8rem;
            width: 100%;
            height: 100%;
            .name {
              font-family: "Pretendard-Medium";
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              height: 20%;
            }
            img {
              height: 24vw;
              width: 24vw;
              object-fit: cover;
              border-radius: 12px;
              padding: 4px;
            }
            .point {
              display: flex;
              flex-direction: row;
              justify-content: end;
              align-items: center;
              width: fit-content;
              width: 100%;
              //
              .leaf_icon {
                margin-left: 5px;
              }
              height: 20%;
              .right_icon {
                color: rgba(100, 100, 100, 0.6);
                width: 30px;
              }
            }
          }
        }
        .point_sum {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          // padding-top: 2vw;

          margin-top: 5px;
          font-size: 3rem;
          font-family: "Pretendard-Bold";
          margin-bottom: 10px;
          .leaf_icon {
            font-size: 3rem;
            // margin-right: 30px;
          }
        }
      }
    }
    .content_list_box {
      padding-bottom: 10px;
      .title {
        color: rgb(100, 100, 100);
        font-family: "Pretendard-Regular";
        font-size: 1.4rem;
      }
      .list_box {
        font-family: "Pretendard-Bold";
        font-size: 1.6rem;
        .list_content {
          margin-top: 15px;
        }
      }
    }
    .menu_box {
      position: relative;
      margin-bottom: 2vw;
      .esg_button {
        // @include tempBorder;
        position: absolute;
        top: 0;
        left: 20%;
        z-index: 10;
        width: 20%;
        height: 100%;
      }
    }
    .store_box {
    }
    .present_box {
    }
    .cs_box {
      flex-grow: 1;
      background-color: white;
      padding: 4vw;
      width: 100%;
      // padding-bottom: 100%;
    }
  }
}
