@import "vars.scss";

#SD_container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: $bg-color;

  height: 95vh;
  overflow-y: scroll;
  > div {
    background-color: white;
    margin-bottom: 4vw;
  }
  //   * {
  //     @include tempBorder;
  //   }
  .image_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    margin-bottom: 0;
  }
  .summary_box {
    padding: 5vw 0;
    width: 100vw;
    height: fit-content;
    .name {
      width: 100%;
      text-align: center;
      font-size: 3rem;
      font-family: "Pretendard-ExtraBold";
    }
    .sentence {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      color: rgb(129, 129, 129);
      margin: 3vw 0;
      width: 100%;
      height: fit-content;
      text-align: center;
      font-family: "Pretendard-Light";
      font-size: 1.8rem;
      .megaphone_icon {
        margin-right: 5px;
      }
    }
    .numbers_box {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      * {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
      }
      .reviews,
      .duration {
        color: rgb(87, 87, 87);
        font-family: "Pretendard-Medium";
        margin-left: 6px;
      }
      .icon {
        margin-right: 6px;
      }
      .left_box {
        margin-right: 20px;
        .rating {
          font-family: "Pretendard-ExtraBold";
          .star_icon {
            color: gold;
          }
        }
      }
      .right_box {
        .point {
          font-family: "Pretendard-ExtraBold";
          .leaf_icon {
            color: $hana-green;
          }
        }
      }
    }
  }
  .info_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3vw;
    width: 100vw;
    height: fit-content;
    > div {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      font-family: "Pretendard-Medium";
    }
    * {
      flex-wrap: wrap;
      border: none;
      font-size: 1.6rem;
    }
    .icon {
      color: rgb(190, 190, 190);
      margin-right: 10px;
      font-size: 2.1rem;
    }
    .icon:last-child {
      font-size: 2rem;
    }
    .phone_number {
      margin: 3vw 0;
    }
  }

  .graph_box {
    padding: 3vw;
    width: 100vw;
    .title {
      width: 100vw;
      height: fit-content;
      font-family: "Pretendard-Bold";
      font-size: 2rem;
      margin-bottom: 2vw;
    }
    .content_box {
      position: relative;
      overflow: hidden;
      .graph_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        position: absolute;
        top: -3%;
        right: 0;
        width: 89%;
        height: 93%;
        padding-right: 4%;
        overflow: visible;
        > * {
          background-color: rgba(151, 227, 213, 1);
          //  @include tempBorder(blue);
          width: 8%;
          height: 100%;
          text-align: center;
          padding-top: 3px;
          font-family: "Pretendard-Light";
        }
        .p_0 {
          padding-top: 0;
          position: relative;
          height: 0;
          animation: graphAni 1s ease-out;
          overflow: visible;

          > div {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -100%);
          }
        }
        .p_500 {
          height: 17.24%;
          animation: graphAni 1s ease-out;
        }
        .p_700 {
          height: 24.1379%;
          animation: graphAni 1s ease-out;
        }
        .p_1700 {
          height: 58.62%;
          animation: graphAni 1s ease-out;
        }
        .p_2000 {
          height: 68.9655%;
          animation: graphAni 1s ease-out;
        }
        .p_2200 {
          height: 75.862%;
          animation: graphAni 1s ease-out;
        }
        .p_2700 {
          height: 93.103%;
          animation: graphAni 1s ease-out;
        }
      }
    }
  }

  .activity_box {
    flex-grow: 1;
    padding: 3vw;
    width: 100vw;
    margin-bottom: 0;
    .title {
      width: 100vw;
      height: fit-content;
      font-family: "Pretendard-Bold";
      font-size: 2rem;
      margin-bottom: 2vw;
    }
    .image_box {
      display: flex;
      flex-direction: column;
      justify-content: start;
      flex-grow: 1;
      width: 100%;
      overflow-y: scroll;
      > img {
        height: fit-content;
      }
    }
  }
}
