@mixin tempBorder($color: black) {
  border: 1px solid $color;
}

@keyframes newIconAni {
  0% {
    filter: contrast(120%) brightness(140%);
    transform: scale(1.15) rotate(50deg);
  }
  50% {
    filter: contrast(90%) brightness(160%);
    transform: scale(1) rotate(50deg);
  }
  100% {
    filter: contrast(120%) brightness(140%);
    transform: scale(1.15) rotate(50deg);
  }
}
